@use '../../shared/styles/variables.scss' as vars;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 96px;
    background-color: vars.$background-color;
    height: calc(100vh - 32px);

    padding: vars.$spacing-xl;
    justify-content: center;
    align-items: center;

    transition: vars.$transition-extra-very-slow;
}