@use '../../shared/styles/variables.scss' as vars;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 128px;
    background-color: vars.$background-color;
    height: 100vh;

    padding: vars.$spacing-xl;
    justify-content: center;
    align-items: center;
}