@use '../../shared/styles/variables.scss' as vars;

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: vars.$background-color;
    height: calc(100vh - 48px);

    padding: vars.$spacing-xl;
    justify-content: space-between;
    align-items: center;

    transition: vars.$transition-extra-very-slow;

    &.running {
        background-color: var(--color-background-primary);
    }
}

.footer {
    color: var(--color-muted);

    &.running {
        color: var(--color-accent);
    }
}

.link {
    cursor: pointer;

    &.github {
        color: var(--color-link);
    }

    &:hover {
        text-decoration: underline;
        filter: brightness(var(--brightness-hover));
    }
}

.modalDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}