@use '../../styles/variables.scss' as vars;
@use '../../styles/animations.scss' as anims;

.button {
    border: none;
    width: 48px;
    height: 32px;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
        .icon {
            animation: roundShake 0.2s;
            filter: drop-shadow(1px 1px 2px #00000066) drop-shadow(-1px -1px 2px #ffffff);
            color: gray;
        }
    }
}

.icon {
    width: 20px;
    height: 20px;
    color: vars.$border-color;
    transition: vars.$transition-medium;
    filter: drop-shadow(0 0 0 #00000000);
}