@use '../../styles/variables.scss' as vars;
@use '../../styles/animations.scss' as anims;


.wrapper {
    transition: vars.$transition-slow;
    // margin-bottom: 128px;

    &:hover {
        transform: scale(1.02);

        .top {
            transform: scale(1.02);
        }
    }
}

.animate {
    .top {
        animation: pressDown 0.2s ease-in-out;
    }
}

.btn {
    box-sizing: content-box;
    position: relative;
    background-color: vars.$border-color;
    height: 180px;
    width: 180px;
    border: 6px solid grey;
    border-radius: 20%;
    cursor: pointer;
    box-shadow:
        -5px -16px 26px #ffffff,
        -5px -8px 13px #ffffff,
        -16px 0px 26px #ffffff,
        5px 20px 20px rgba(0, 0, 0, 0.2),
        inset 0px -5px 10px #00000055;
    transition: background-color vars.$transition-slow, box-shadow vars.$transition-very-slow;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    position: absolute;
    top: -16px;
    background-color: vars.$background-color;
    box-shadow: inset 10px 10px 30px #f8f8f8;
    height: 180px;
    width: 180px;
    z-index: 10;
    transition: vars.$transition-slow;
}

.icon {
    height: 120px;
    width: 120px;

    transition: vars.$transition-slow;
    
    filter:
        drop-shadow(0.5px 0.5px 1px rgba(255, 255, 255, 1)) drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-4px -2px 2px rgba(255, 255, 255, 1));

    &.running {
        filter:
            drop-shadow(0.5px 0.5px 1px var(--color-background-primary-bright)) drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-2px -2px 2px var(--color-background-primary-bright));
    }
}