@use '../../styles/variables.scss' as vars;
@use '../../styles/animations.scss' as anims;


.wrapper {
    transition: vars.$transition-slow;
    // margin-bottom: 128px;

    &:hover {
        transform: scale(1.02);

        .top {
            transform: scale(1.02);
        }
    }
}

.animate {
    .top {
        animation: pressDown 0.2s ease-in-out;
    }
}

.btn {
    box-sizing: content-box;
    position: relative;
    background-color: vars.$border-color;
    height: 180px;
    width: 180px;
    border: 6px solid grey;
    border-radius: 20%;
    cursor: pointer;
    box-shadow:
        -15px -50px 75px #ffffff,
        -15px -25px 40px #ffffff,
        -50px 0px 75px #ffffff,
        15px 50px 60px rgba(0, 0, 0, 0.2);
    transition: vars.$transition-slow;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    position: absolute;
    top: -16px;
    background-color: vars.$background-color;
    box-shadow: inset 10px 10px 30px #f8f8f8;
    height: 180px;
    width: 180px;
    z-index: 10;
    transition: vars.$transition-slow;
}

.icon {
    height: 120px;
    width: 120px;
}