@use '../../styles/variables.scss' as *;
@use '../../styles/animations.scss' as *;

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000033;
    backdrop-filter: blur(4px);
    z-index: 1100;
    animation: appearOpacity 0.1s ease-in;

    .window {
        padding: $spacing-md;
        width: 75%;
        border-radius: $border-radius-md;
        box-shadow: $shadow-md;

        background-color: var(--color-background);

        animation: appearTransform 0.2s ease-in;

        &.running {
            background-color: var(--color-background-primary);
        }
    }

    &.animate {
        animation: disappearOpacity 0.2s ease-out;

        .window {
            animation: disappearTransform 0.2s ease-out;
        }
    }
}