@keyframes pressDown {
    0% {
        transform: translateY(0px) scale(1.02);
    }

    50% {
        transform: translateY(8px) scale(1.02);
    }

    100% {
        transform: translateY(0px) scale(1.02);
    }
}