@keyframes pressDown {
    0% {
        transform: translateY(0px) scale(1.02);
    }

    50% {
        transform: translateY(5%) scale(1.02);
    }

    100% {
        transform: translateY(0px) scale(1.02);
    }
}


@keyframes roundShake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}