@use '../../../shared/styles/variables.scss' as vars;
@use '../../../shared/styles/animations.scss' as anims;

.batItem {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: vars.$background-color;
    width: 100%;
    height: 48px;
    padding: vars.$spacing-sm vars.$spacing-lg;
    box-shadow: inset 10px 10px 30px #f8f8f8;
    border-radius: 48px;
    top: -8px;
    transition: vars.$transition-slow;

    &:hover {
        transform: scale(1.02);
    }
}

.animate {
    animation: pressDown 0.2s ease-in-out;
}