@use '../../../shared/styles/variables.scss' as vars;
@use '../../../shared/styles/animations.scss' as anims;

.batItem {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: vars.$background-color;
    width: 100%;
    height: 48px;
    padding: vars.$spacing-sm vars.$spacing-lg;
    box-shadow: inset 10px 10px 30px var(--color-light-shadow);
    border-radius: 48px;
    top: -8px;
    transition: vars.$transition-slow;
    color: vars.$text-color;
    text-shadow: 0 0 8px #ffffff99;
    font-weight: 500;

    &:hover {
        transform: scale(1.02);
    }

    &.btnRunning {
        background-color: var(--color-background-primary);
        box-shadow: none;
    }
}

.animate {
    animation: pressDown 0.2s ease-in-out;
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: auto;
    color: vars.$text-color;
    transition: transform 0.1s ease-in-out;
    filter: drop-shadow(0 0 8px #ffffff99);

    &.iconRunning {
        transform: rotate(0deg);
    }

    &.iconOpen {
        transform: rotate(180deg);
    }
}

.running {
    margin: 0 8px 0 8px;
    animation: appear 0.5s ease-in;
    opacity: 0.8;
}