@use '../../../shared/styles/variables.scss' as vars;

.batItem {
    display: flex;
    align-items: center;
    background-color: vars.$surface-color;
    width: 100%;
    height: 32px;
    padding: vars.$spacing-sm;
    border-radius: vars.$border-radius-md;
}