@use '../../styles/variables.scss' as *;
@use '../../styles/animations.scss' as *;

.wrapper {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 20px;
    border-radius: $border-radius-md;
    z-index: 1010;
    backdrop-filter: blur(4px);

    animation: appearDisappear 5000ms ease-in-out;
}