@use '../../../../shared/styles/variables.scss' as vars;
@use '../../../../shared/styles/animations.scss' as anims;

.wrapper {
    box-sizing: content-box;
    background-color: var(--color-btn-background);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 48px;
    height: fit-content;
    border: 6px solid var(--color-btn-border);
    border-radius: 32px;
    cursor: pointer;
    z-index: 100;

    transition: background-color vars.$transition-slow, box-shadow vars.$transition-very-slow, transform vars.$transition-slow;
    box-shadow:
        -5px -16px 26px var(--color-light-shadow),
        -8px -8px 13px var(--color-light-shadow),
        -16px 0px 26px var(--color-light-shadow),
        5px 20px 20px var(--color-dark-shadow),
        inset 0px -5px 10px #00000055;

    &:hover {
        transform: scale(1.02);

        .top {
            transform: scale(1.02);
        }
    }

    &.wrapperRunning {
        background-color: var(--color-btn-background-running);
        box-shadow:
            -5px -16px 26px var(--color-light-shadow-running),
            -8px -8px 13px var(--color-light-shadow-running),
            -16px 0px 26px var(--color-light-shadow-running),
            5px 20px 20px var(--color-dark-shadow-running),
            inset 0px -5px 10px #00000055;
        border-color: var(--color-btn-border-running);
    }
}

.batList {
    background-color: var(--color-surface-transparent);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 100%;
    top: calc(100% + vars.$spacing-xs);
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid vars.$border-color;
    border-radius: 24px;
    padding: 8px 0;
    color: var(--color-text);

    box-shadow:
        vars.$shadow-lg,
        inset 4px 4px 4px #00000011,
        inset -4px -4px 4px var(--color-light-shadow),
        inset 1px 1px 2px var(--color-light-shadow),
        inset -1px -1px 2px #00000033;

    max-height: 384px;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 4px;
    }

    &.runningList {
        box-shadow:
            vars.$shadow-lg,
            inset 4px 4px 4px #00000011,
            inset -4px -4px 4px var(--color-light-shadow-running);

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-primary-hover);
            border-radius: 4px;
        }
    }

    z-index: 900;
    interpolate-size: allow-keywords;

    animation: appearList 0.3s ease-in-out;

    &.animate {
        animation: disappearList 0.3s ease-in-out;
    }
}

.option {
    padding: vars.$spacing-xs vars.$spacing-sm;
    border-radius: vars.$border-radius-xl;
    transition: vars.$transition-fast;
    margin: 0 8px;

    &:hover {
        background-color: #00000022;
        box-shadow:
            -1.5px -4px 6px var(--color-light-shadow-option),
            -1.5px -4px 3.5px var(--color-light-shadow-option),
            -4px 0 6px var(--color-light-shadow-option),
            1.5px 5px 5px var(--color-dark-shadow-option),
            vars.$shadow-lg,
            inset 2px 2px 4px var(--color-dark-inset-shadow-option),
            inset -2px -2px 4px var(--color-light-inset-shadow-option);
    }

    &.selected {
        background-color: var(--color-primary-transparent);
        box-shadow:
            vars.$shadow-lg,
            inset 2px 2px 4px var(--color-dark-inset-shadow-option),
            inset -2px -2px 4px var(--color-light-inset-shadow-option);
        z-index: 1008;
    }
}