@use '../../../../shared/styles/variables.scss' as vars;
@use '../../../../shared/styles/animations.scss' as anims;

.wrapper {
    box-sizing: content-box;
    background-color: vars.$border-color;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 48px;
    height: fit-content;
    border: 6px solid grey;
    border-radius: 32px;
    cursor: pointer;
    z-index: 100;

    transition: background-color vars.$transition-slow, box-shadow vars.$transition-very-slow, transform vars.$transition-slow;
    box-shadow:
        -5px -16px 26px #ffffff,
        -5px -8px 13px #ffffff,
        -16px 0px 26px #ffffff,
        5px 20px 20px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.02);

        .top {
            transform: scale(1.02);
        }
    }
}

.batList {
    background-color: var(--color-surface-transparent);
    backdrop-filter: blur(8px);
    position: absolute;
    width: 100%;
    top: calc(100% + vars.$spacing-xxs);
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid vars.$border-color;
    border-radius: 24px;
    box-shadow: vars.$shadow-lg, inset 4px 4px 4px #00000011, inset -4px -4px 4px #ffffff99;

    max-height: 384px;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 4px;
    }

    &.runningList {
        box-shadow: vars.$shadow-lg, inset 4px 4px 4px #00000011, inset -4px -4px 4px var(--color-background-primary-bright);
        &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary-hover);
        border-radius: 4px;
    }
    }

    z-index: 900;
}

.option {
    padding: vars.$spacing-xs vars.$spacing-sm;
    border-radius: vars.$border-radius-xl;
    transition: vars.$transition-fast;
    margin: 0 8px;

    &:hover {
        background-color: #00000022;
        box-shadow:
            -3px -8px 12px #ffffff,
            -3px -8px 7px #ffffff,
            -8px 0 12px #ffffff,
            3px 10px 10px rgba(0, 0, 0, 0.2), vars.$shadow-lg, inset 2px 2px 4px #00000011, inset -2px -2px 4px #ffffff99;
        margin: 4px 8px;

        &.runningOption {
            box-shadow:
                -3px -8px 12px #ffffff22,
                -3px -8px 7px #ffffff22,
                -8px 0 12px #ffffff22,
                3px 10px 10px rgba(0, 0, 0, 0.1), vars.$shadow-lg, inset 2px 2px 4px #00000011, inset -2px -2px 4px #ffffff22;
        }
    }

    &.selected {
        background-color: var(--color-primary-transparent);
        box-shadow: vars.$shadow-lg, inset 2px 2px 4px #00000011, inset -2px -2px 4px #ffffff99;
        z-index: 1008;

        &.runningOption {
            box-shadow: vars.$shadow-lg, inset 2px 2px 4px #00000011, inset -2px -2px 4px #ffffff22;
        }
    }
}