@use '../../../../shared/styles/variables.scss' as vars;
@use '../../../../shared/styles/animations.scss' as anims;

.wrapper {
    box-sizing: content-box;
    background-color: vars.$border-color;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 48px;
    height: fit-content;
    border: 6px solid grey;
    border-radius: 32px;
    cursor: pointer;
    z-index: 100;

    transition: background-color vars.$transition-slow, box-shadow vars.$transition-very-slow;
    box-shadow:
        -5px -16px 26px #ffffff,
        -5px -8px 13px #ffffff,
        -16px 0px 26px #ffffff,
        5px 20px 20px rgba(0, 0, 0, 0.2);

    &:hover {
        transform: scale(1.02);

        .top {
            transform: scale(1.02);
        }
    }
}

.batList {
    background-color: vars.$surface-color;
    position: absolute;
    width: 100%;
    top: calc(100% + vars.$spacing-xxs);
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid vars.$border-color;
    border-radius: 16px;
    box-shadow: vars.$shadow-md;

    max-height: 144px;

    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: vars.$primary-color;
        border-radius: 4px;
    }

    z-index: 1000;
}

.option {
    padding: vars.$spacing-xs vars.$spacing-sm;
    border-radius: vars.$border-radius-md;
    transition: vars.$transition-fast;

    &:hover {
        background-color: vars.$primary-color;
    }

    &.selected {
        background-color: vars.$primary-color;
        color: vars.$text-color-reversed;
    }
}