@use '../../styles/variables.scss' as vars;

.btn {
    background-color: vars.$primary-color;
    height: 32px;
    width: 100%;
    border: none;
    border-radius: vars.$border-radius-md;
    cursor: pointer;
    box-shadow: vars.$shadow-sm;
    color: var(--color-text);

    box-shadow:
        -1.5px -4px 6px var(--color-light-shadow-option),
        -1.5px -4px 3.5px var(--color-light-shadow-option),
        -4px 0 6px var(--color-light-shadow-option),
        1.5px 5px 5px var(--color-dark-shadow-option),
        vars.$shadow-lg,
        inset 2px 2px 4px var(--color-dark-inset-shadow-option),
        inset -2px -2px 4px var(--color-light-inset-shadow-option);

    &:hover {
        filter: brightness(0.8);
    }

    &:active {
        filter: brightness(0.5);
        box-shadow:
            -1.5px -4px 6px var(--color-light-shadow-option),
            -1.5px -4px 3.5px var(--color-light-shadow-option),
            -4px 0 6px var(--color-light-shadow-option),
            1.5px 5px 5px var(--color-dark-shadow-option),
            vars.$shadow-lg,
            inset 3px 3px 4px var(--color-dark-inset-shadow-option),
            inset -3px -3px 4px var(--color-light-inset-shadow-option);
    }
}